<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="model/head">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="renderer" content="webkit" />
    <title>设备管理后台</title>
    <script type="text/javascript">
        //<![CDATA[
        $(function () {
            $("#device").click();
            showSide("报警规则");
            $("#form").validate({
                debug: true,
                checkStart: true,
                errorElement: 'span',
                errorClass: '_error',
                focusInvalid: false,
                ignore: "",
                rules: {item: {required: true}, minValue: {required: true}, maxValue: {required: true}, level: {required: true}},
                messages: {item: {required: "请选择项目"}, minValue: {required: "请输入阀值下限"}, maxValue: {required: "请输入阀值上限"}, level: {required: "请输入报警级别"}},
                submitHandler: function (form) {
                    var minValue = $(".minValue").val();
                    var maxValue = $(".maxValue").val();
                    var level = $(".level").val();
                    if (!_CommonJS.isDouble(parseFloat(minValue))) {
                        layer.msg("请输入正确的阀值下限", {time: 2000});
                        return;
                    }
                    if (!_CommonJS.isDouble(parseFloat(maxValue))) {
                        layer.msg("请输入正确的阀值上限", {time: 2000});
                        return;
                    }
                    if (!_CommonJS.isPositiveNumber(level)) {
                        layer.msg('报警级别输入错误,输入只能为大于0的数字', {time: 1000});
                        return;
                    }
                    $(form).ajaxSubmit(function (res) {
                        if (res.code == 200) {
                            layer.msg(res.msg, {time: 1000}, function () {
                                window.location.href = "/device/warn_rule_list.html";
                            });
                        } else {
                            layer.msg(res.msg, {time: 3000});
                        }
                    });
                },
                highlight: function (e) {
                    $(e).closest('.control-group').removeClass('info').addClass('error');
                }
            });
        });
        //]]>
    </script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="bread">
        <i class="icon-home"></i>
        <a href="#">设备管理</a><span>></span>
        <a href="/device/warn_rule_list.html">报警规则列表</a><span>></span>
        <em>添加报警规则</em>
    </div>
    <div class="main">
        <form action="/device/warn_rule_add.json" method="post" class="form-horizontal" id="form">
            <div class="row">
                <label class="col-xs-1 control-label">项目：</label>
                <div class="col-xs-2">
                    <select class="form-control" name="item">
                        <option value="">请选择</option>
                        <option value="冷库">冷库</option>
                        <option value="污水">污水</option>
                        <option value="水箱">水箱</option>
                        <option value="锅炉">锅炉</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <label class="col-xs-1 control-label">阀值下限：</label>
                <div class="col-xs-2">
                    <input type="text" class="minValue form-control" placeholder="请输入阀值下限" name="minValue" />
                </div>
            </div>
            <div class="row">
                <label class="col-xs-1 control-label">阀值上限：</label>
                <div class="col-xs-2">
                    <input type="text" class="maxValue form-control" placeholder="请输入阀值上限" name="maxValue" />
                </div>
            </div>
            <div class="row">
                <label class="col-xs-1 control-label">报警级别：</label>
                <div class="col-xs-2">
                    <input type="text" class="level form-control" placeholder="请输入报警级别,值越大级别越高" name="level" />
                </div>
            </div>
            <div class="row">
                <label class="col-xs-1 control-label">状态：</label>
                <div class="col-xs-2">
                    <select class="form-control" name="status">
                        <option value="1">请选择</option> <!-- 默认禁用-->
                        <option value="1">禁用</option>
                        <option value="2">启用</option>
                    </select>
                </div>
            </div>
            <div class="col-xs-12 operate">
                <button class="btn btn-danger">保存</button>
                <input type="button" name="cancel" class="btn btn-warning" onclick="cancelGoBack();" th:value="取消" />
            </div>
        </form>
    </div>
</div>
</body>
</html>
